body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.publish_music_content {
    width: 60%;
    height: 100%;
    margin-left: 30%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    min-width: 800px;
}
.publish_music_content .one_publish_content {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.publish_music_content .one_publish_content .content_first {
    width: 15%;
    font-size: 19px;
    color: #494949;
}
.publish_music_content .one_publish_content .choose_music_div {
    width: 17%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.publish_music_content .one_publish_content .choose_music_div  .choose_music_span {
    position: absolute;
    width: 100%;
    background-color: #00b19e;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
}
.publish_music_content .one_publish_content .choose_music_div  .choose_music_input {
    position: absolute;
    width:100%;
    height: 42px;
    z-index: 50;
    opacity: 0;
}
.publish_music_content .one_publish_content .choose_music_div  .choose_music_input:hover {
    cursor: pointer;
}
.publish_music_content .one_publish_content .my_aldum_select {
    width: 25%;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    font-size: 16px;
    color: #494949;
    height: 35px;
}
.one_publish_content .publish_muisc_button {
    margin-left: 15%;
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00b19e;
}
.one_publish_content .publish_muisc_button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px #ccc;
}
.one_publish_content .show_which_muisc {
    font-size: 17px;
    color: #494949;
    margin-top: 10px;
    margin-left: 20px;
}