/*针对小于766px的屏幕设置的*/
@media screen and (max-width: 766px) {

    body {
        padding: 0;
        margin: 0;
        /*background-color: #2aabd2;*/
        background: linear-gradient(transparent, #a6e1ec);
    }

    h2 {
        font-size: 4vw;
        color: white;
    }

    p {
        font-size: 2.4vw;
        color: white;
    }

    .timeline_content {
        width: 100%;
        height: auto;
    }

    .left_blog, .right_blog {
        width: 96%;
        display: flex;
        flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
        margin-right: 3%;
        margin-bottom: 3%;
    }

    .content {
        /*box-shadow: 1px 1px 10px rgba(0,0,0,0.3);*/
        width: 80%;
        height: auto;
        background-color: white;
        border-radius: 15px;
        border: 1px solid white;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .arrow-left {
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-right: 13px solid rebeccapurple;
        margin-top: 12px;
    }

    .arrow-right {
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-right: 13px solid silver;
        margin-top: 12px;
    }

    .time_content {
        width: calc(20% + 26px);
        text-align: center;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .time_content .time {
        color: slateblue;
        font-size: 15px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
        width: 58px;
        height: 58px;
        padding: 3px;
        border-radius: 50%;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .time_content .line {
        width: 2px;
        height: 65%;
        margin-top: 5%;
        background-color: slateblue;
    }

    .content figure {
        width: 100%;
        padding: 0;
        margin: 0.1%;
        position: relative;
        overflow: hidden;
        display: block;
        border-radius: 15px;
    }

    .content figure img {
        width: 100%;
        border-radius: 10px;
        opacity: 0.8;
    }

    .content figure figcaption {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 100%;
    }
     .my_pagination {
        margin-left: 20%;
        margin-top: 10%;
        margin-bottom: 40%;
        display: flex;
        flex-direction: row;
    }
}