<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--原来是这样写的-->
    <title>Title</title>
    <script type="application/javascript">
            $(document).ready(function () {
                $('#submit').click(function () {
                    $.ajax({
                        type:'post',
                        url:"index/User/add",
                        dataType:"json",
                        data:$("#register").serialize(),
                        success:function (data) {
                            if (data.code==0) {
                                alert('添加失败');
                            }else if (data.code==2){
                                alert('添加成功');
                            }else if (data.code==1){
                                alert('该手机号已被注册');
                            }
                        },
                        error:function () {
                        },
                        async:true,
                    });
                    return false;
                });
            });
    </script>
    <style>
        .gre {
            color: #1dc116;
        }
        .red {
            color: red;
        }
    </style>
</head>
<body>
    <!--666666666666,name 变量名，user 子项临时名，key 循环次数-->
    {volist name="users" id="user" key="i"}
    {if($page==1)}
    <div class="gre">{$user.phone},{$i}<a href="register?page=2">11111</a></div>
    {else if($page==2)}
    <div class="red">{$user.phone},{$i}<a href="register?page=1">11111</a></div>
    <!--结束判断语句，不是关闭if-->
    {/if}
    {/volist}
    <form id="register">
        用户名：<input type="text" name="phone"><br/>
        密码： <input type="password" name="password"><br/>
        <input type="button" id="submit" value="提交" name="submit">
    </form>
<!--    <div data-ng-app="" data-ng-init="firstName='123456',names=['Jani','Hege','Kai']">
        <ul>
            <li data-ng-repeat="x in names">
                {{x}}
            </li>
        </ul>
        <p>名字：<input type="text" ng-model="first"></p>
        <h1>Hello{{first}}</h1>
        <p>Next:<span data-ng-bind="firstName"></span>
            <span>{{5+12456}}</span></p>
    </div>-->
    <div ng-app="myApp" ng-controller="myCtrl">
        名字：<input ng-model="name">
        <h1>你输入了{{name}}</h1>
        <form ng-app="" name="myForm">
            Email:<input type="email" name="myAddress" ng-model="text">
            <span ng-show="myForm.myAddress.$error.email">不是一个合法的邮箱地址</span>
        </form>
        <ul>
            <!--1111-->
            <li ng-repeat="x in names">
                {{x}}
            </li>
        </ul>
    </div>
</body>
<script src="js/jquery.js" type="application/javascript"></script>
<script src="js/jquery-form.js" type="application/javascript"></script>
<script src="js/angular.min.js"></script>
<script>
    var app = angular.module('myApp',[]);
    app.controller('myCtrl', function ($scope) {
        $scope.name = 'John de';
        $scope.names = ['demo', 'first', 'second'];
    });
//    自定义filter过滤器
    app.filter('reverse', function () {
        return function (text) {
            return text.split("").reverse().join("");
        };
    });
</script>
</html>