<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/manage/main_page.css">
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/manage/main_page.js"></script>
</head>
<body>
<section class="character_content">
    <div class="slide slide_current">
        <h2 class="title">Monday</h2>
    </div>
    <div class="slide">
        <h2 class="title">Tuesday</h2>
    </div>
    <div class="slide">
        <h2 class="title">Wednesday</h2>
    </div>
    <div class="slide">
        <h2 class="title">Thursday</h2>
    </div>
    <div class="slide">
        <h2 class="title">Friday</h2>
    </div>
    <div class="slide">
        <h2 class="title">Saturday</h2>
    </div>
    <div class="slide">
        <h2 class="title">Sunday</h2>
    </div>
</section>
<button class="prev_button">Prev</button>
<button class="next_button">next</button>
</body>
</html>