<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="application/javascript" src="js/jquery-1.12.4.js"></script>
    <link rel="icon" href="img/page_icon.png">
    <link rel="stylesheet" href="css/editer/blog_editer_style.css" type="text/css">
    <script src="js/ajaxfileupload.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/layer.js"></script>
    <script src="js/editer/blog_editer.js"></script>
</head>
<body ng-app="myNoteApp">
<!--编辑器，包括选择器，和输入框-->
<div class="enter_info_div">
    <div class="one_enter_content" ng-controller="blogDesrc"><span>标题：</span>
        <input class="blog_title_input" type="text" maxlength="15" ng-model="inputMessage">
        <span class="input_small_span input_first_small_span">剩余字数:</span>
        <span class="input_small_span" ng-bind="inputModel()">15</span>
    </div>
    <div class="one_enter_content" ng-controller="blogDesrc"><span>描述：</span>
        <textarea class="blog_description_input" ng-model="message" maxlength="60"></textarea>
        <span class="small_span first_small_span">剩余字数:</span>
        <span class="small_span" ng-bind="left()">60</span>
    </div>
    <div class="one_enter_content">
        <span>背景图:</span>
        <button class="choose_background_button">点击选择图片</button>
        <span style="margin-left: 20px;font-size: 15px"
              class="background_result">未选择背景图</span>
    </div>
    <div class="one_enter_content">
        <span>标签：</span>
        <button class="choose_tag_button">点击选择标签</button>
        <span style="margin-left: 20px;font-size: 15px"
              class="tag_result"></span>
    </div>
</div>
<div class="editer">
    <!--选择器-->
    <div id="editer_chooser">
        <div class="btn_group">
            <!--设置a的data-role，在js获取判断并且执行即可-->
            <span class="icon_undo"><a title="返回" class="btn" data-role="undo" href="#"></a></span>
            <span class="fenge"></span>
            <span class="icon_redo"><a title="前进" class="btn" data-role="redo" href="#"></a></span>
        </div>
        <div class="btn_group">
            <span class="choose_font_size"><a class="btn" data-role="FontSize" href="#" title="选择字号"></a></span>
            <span class="fenge"></span>
            <span class="choose_font_color"><a class="btn" data-role="FontColor" href="#" title="字体颜色"></a></span>
        </div>
        <div class="btn_group">
            <a class="btn" data-role="Bold" href="#" title="字体加粗"><b>Bold</b></a>
            <span class="fenge"></span>
            <a class="btn" data-role="Italic" href="#" title="字体倾斜"><em>Italic</em></a>
            <span class="fenge"></span>
            <a class="btn" data-role="underline" href="#" title="下划线"><u>U</u></a>
            <span class="fenge"></span>
            <a class="btn" data-role="strikeThrough" href="#" title="删除线"><strike>abc</strike></a>
        </div>
        <div class="btn_group">
            <span class="justify_left"><a title="左对齐" class="btn" data-role="justifyLeft" href="#"> </a></span>
            <span class="fenge"></span>
            <span class="justify_center"><a title="居中" class="btn" data-role="justifyCenter" href="#"></a></span>
            <span class="fenge"></span>
            <span class="justify_right"><a title="右对齐" class="btn" data-role="justifyRight" href="#"></a></span>
        </div>
        <div class="btn_group">
            <div class="choose_image_icon">
                <!--选择图片并且预览，很关键-->
                <input id="showUpload" name="image" type="file"
                       class="showUpload" accept="image/png,image/jpeg">
            </div>
        </div>
        <div class="btn_group">
            <span class="icon_list_ul"><a title="无序列表" class="btn" data-role="insertUnorderedList" href="#"></a></span>
            <span class="fenge"></span>
            <span class="icon_list_ol"><a title="有序列表" class="btn" data-role="insertOrderedList" href="#"></a></span>
            <span class="fenge"></span>
            <a class="btn" data-role="h2" href="#" title="一级标题"><b>h2</b></a>
            <span class="fenge"></span>
            <a class="btn" data-role="h3" href="#" title="二级标题"><b>h3</b></a>
            <span class="fenge"></span>
            <a class="btn" data-role="p" href="#" title="段落"><b>p</b></a>
        </div>
    </div>
    <!--输入框，最重要的是contenteditable！！！-->
    <div contenteditable="true" id="editer_content">
        <p>
            <br>
        </p>
    </div>
    <!--注意要绝对位置，点击弹出来选择字号框-->
    <div class="showChooseSize">
        <li><a data-role="1" style="font-size: 12px" href="#">12px</a></li>
        <li><a data-role="2" style="font-size: 14px" href="#">14px</a></li>
        <li><a data-role="3" style="font-size: 16px" href="#">16px</a></li>
        <li><a data-role="4" style="font-size: 18px" href="#">18px</a></li>
        <li><a data-role="5" style="font-size: 19px" href="#">20px</a></li>
        <li><a data-role="6" style="font-size: 20px" href="#">22px</a></li>
        <li><a data-role="7" style="font-size: 21px" href="#">24px</a></li>
    </div>
    <!--颜色选择器...嵌套了一个可点击的a，然后把a的内容设置成相同的颜色，这样就看不到了@.@-->
    <div class="showChooseColor">
        <table>
            <tr>
                <td style="background-color: black"><a style="color:black" data-role="black" href="#">1</a></td>
                <td style="background-color: coral"><a style="color:coral" data-role="coral" href="#">2</a></td>
                <td style="background-color: deeppink"><a style="color:deeppink" data-role="deeppink" href="#">3</a>
                </td>
                <td style="background-color: darkblue"><a style="color:darkblue" data-role="darkblue" href="#">4</a>
                </td>
                <td style="background-color: white"><a style="color:white" data-role="white" href="#">5</a></td>
                <td style="background-color: gray"><a style="color:gray" data-role="gray" href="#">6</a></td>
            </tr>
            <tr>
                <td style="background-color: yellow"><a style="color:yellow" data-role="yellow" href="#">7</a></td>
                <td style="background-color: aqua"><a style="color:aqua" data-role="aqua" href="#">8</a></td>
                <td style="background-color: greenyellow"><a style="color:greenyellow" data-role="greenyellow" href="#">9</a>
                </td>
                <td style="background-color: forestgreen"><a style="color:forestgreen" data-role="forestgreen" href="#">10</a>
                </td>
                <td style="background-color: olive"><a style="color:olive" data-role="olive" href="#">11</a></td>
                <td style="background-color: orchid"><a style="color:orchid" data-role="orchid" href="#">12</a></td>
            </tr>
            <tr>
                <td style="background-color: palegreen"><a style="color:palegreen" data-role="palegreen" href="#">13</a>
                </td>
                <td style="background-color: brown"><a style="color:brown" data-role="brown" href="#">14</a></td>
                <td style="background-color: cornflowerblue"><a style="color:cornflowerblue" data-role="cornflowerblue"
                                                                href="#">15</a></td>
                <td style="background-color: blue"><a style="color:blue" data-role="blue" href="#">16</a></td>
                <td style="background-color: peru"><a style="color:peru" data-role="peru" href="#">18</a></td>
                <td style="background-color: lawngreen"><a style="color:lawngreen" data-role="lawngreen" href="#">19</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="submit_button_div">
    <button class="submit_button">发表</button>
</div>
<div class="background_img_div" style="display: none">
    <img src="img/blog_background/1.jpg" class="1" width="30%">
    <img src="img/blog_background/2.jpg" class="2" width="30%">
    <img src="img/blog_background/3.jpg" class="3" width="30%">
    <img src="img/blog_background/4.jpg" class="4" width="30%">
    <img src="img/blog_background/5.jpg" class="5" width="30%">
    <img src="img/blog_background/6.jpg" class="6" width="30%">
    <img src="img/blog_background/7.jpg" class="7" width="30%">
    <img src="img/blog_background/8.jpg" class="8" width="30%">
    <img src="img/blog_background/9.jpg" class="9" width="30%">
    <img src="img/blog_background/10.jpg" class="10" width="30%">
    <img src="img/blog_background/11.jpg" class="11" width="30%">
    <img src="img/blog_background/12.jpg" class="12" width="30%">
</div>
<div class="blog_tag_div" style="display: none">
    {volist name="tags" id="tag"}
    <span data-role={$tag.id}>{$tag.tag}</span>
    {/volist}
    <div class="add_tag_and_cancel">
        <div class="add_tag_div">
            <button class="add_tag_button">添加标签</button>
            <input class="tag_content" type="text">
        </div>
        <button class="cancel_choose_tag_button">取消全选</button>
    </div>
</div>
</body>
</html>