<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <link rel="stylesheet" href="css/blog_detail/blog_detail_header_model.css" type="text/css">
    <link rel="stylesheet" href="css/blog_detail/blog_detail.css" type="text/css">
    <link rel="icon" href="img/page_icon.png">
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/layer.js"></script>
    <script src="js/blog_detail/blog_detail_header.js"></script>
    <script src="js/blog_detail/blog_detail.js"></script>
    <script>
        $(function () {
            /**/
            $('.comment_content .a_comment .reply_button').click(function () {
                var dialog_user_id = $(this).siblings(".comment_detail").attr("data-role");
                var dialog_comment_id = $(this).parent().parent().attr("data-role");
                var dialog_nickname = $(this).siblings(".comment_detail").children(".who_reply").children().html();
                $('.dialog_content form .hidden_comment_id').val(dialog_comment_id);
                $('.dialog_content form .hidden_reply_to').val(dialog_user_id);
                $('.dialog_content .reply_info span').html(dialog_nickname);
                $('.dialog_content form').attr("action", "index/BlogDetail/replyComment");
                var isLogin = $('.header_content').attr("data-role");
                if (isLogin==1) {
                    var nickname =
                        $('.next_title_content .menu_sign_div .regsiter_or_sign .user_name_a').html();
                    $('.dialog_content form .input_div .nickname_input').val(nickname);
                    var email = $('.header_content .next_title_content').attr("data-role");
                    $('.dialog_content form .input_div .email_input').val(email);
                }
                layer.open({
                    type: 1,
                    skin: 'layui-layer-demo', //样式类名//不显示关闭按钮
                    anim: 2,
                    title: "回复",
                    shadeClose: true, //开启遮罩关闭
                    content: $('.dialog_content')
                });
            });
            $('.comment_content .publish_comment').click(function () {
                var isLogin = $('.header_content').attr("data-role");
                if (isLogin==1) {
                    var nickname =
                        $('.next_title_content .menu_sign_div .regsiter_or_sign .user_name_a').html();
                    $('.dialog_content form .input_div .nickname_input').val(nickname);
                    var email = $('.header_content .next_title_content').attr("data-role");
                    $('.dialog_content form .input_div .email_input').val(email);
                }
                $('.dialog_content .reply_info span').html("");
                $('.dialog_content form').attr("action", "index/BlogDetail/publicComment");
                layer.open({
                    type: 1,
                    skin: 'layui-layer-demo', //样式类名//不显示关闭按钮
                    anim: 2,
                    title: "评论",
                    shadeClose: true, //开启遮罩关闭
                    content: $('.dialog_content')
                });
            });
            checkLogin();
            function checkLogin() {
                var isLogin = $('.header_content').attr("data-role");
                if (isLogin == 1) {
                    $('.comment_content .a_comment .delete_button').show();
                    $('.comment_content .a_comment .delete_button').click(function () {
                        var dialog_comment_id = "";
                        var is_root = $(this).parent().hasClass("root_comment");
                        var delete_what = "";
                        var blog_id = $('.header_content .top_nav_content').attr("data-role");
                        if (is_root) {
                            delete_what = 1;
                            dialog_comment_id = $(this).parent().parent().attr("data-role");
                        } else {
                            delete_what = 2;
                            dialog_comment_id = $(this).parent().attr("data-role");
                        }
                        layer.confirm('确认要删除这条评论？', {
                            btn: ['确认', '取消'], //按钮
                            title:"删除"
                        }, function () {
                            $.ajax({
                                url: "index/BlogDetail/deleteComment",
                                type: "post",
                                data: {comment_id: dialog_comment_id, delete_what: delete_what},
                                success: function () {
                                    window.location.href = "showBlogDetail?blog_id=" + blog_id;
                                },
                                error: function () {
                                    window.location.href = "showBlogDetail?blog_id=" + blog_id;
                                }
                            });
                        });
                    });
                }
            }
            $('.header_content .top_nav_content .left_nav #to_my_email,.small_left_nav .to_my_email')
                .on("click", function () {
                var emial_layer =  layer.open({
                    type: 1,
                    skin: 'layui-layer-demo', //样式类名//不显示关闭按钮
                    anim: 2,
                    title: "我的邮箱",
                    shadeClose: true, //开启遮罩关闭
                    content: $('.my_email_info')
                });
                $('.copy_email_button').on("click", function () {
                    var info = document.getElementById("copy_info");
                    info.select();
                    document.execCommand("Copy");
                    layer.close(emial_layer);
                });
            });
        });
    </script>
    <style>
        .my_email_info {
            display: flex;
            flex-direction: column;
            width: 320px;
            background-color: white;
        }
        .my_email_info .my_email_title {
            display: flex;
            flex-direction: row;
            padding: 10px;
            height: 3em;
        }
        #copy_info {
            resize: none;
            background-color: transparent;
            border: none;
            font-size: 20px;
            font-family: cursive;
            color: #494949;
        }
        .my_email_info .copy_email_button {
            width: 40%;
            margin-top: 20px;
            margin-left: 30%;
            margin-bottom: 20px;
            background-color: #00b19e;
            color: rgba(255, 255, 255, 0.8);
            padding: 6px;
            border: none;
            border-radius: 5px;
        }
        .my_email_info .copy_email_button:hover {
            cursor: pointer;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
        }
    </style>
</head>
<body>
<div class="my_email_info" style="display: none">
    <div class="my_email_title">
        <img src="img/emial.jpg" height="30px">
        <textarea id="copy_info" maxlength="16">425746853@qq.com</textarea>
    </div>
    <button class="copy_email_button">复制到剪切板</button>
</div>
<div class="dialog_content" style="display: none">
    <form action="index/BlogDetail/replyComment" method="post">
        <input type="hidden" name="blog_id" value={$blog.id}>
        <input class="hidden_comment_id" type="hidden" name="comment_id">
        <input class="hidden_reply_to" type="hidden" name="reply_to">
        <div class="input_div">
            <div>NickName:</div>
            <input type="text" name="nickname" placeholder="昵称" class="nickname_input" required></div>
        <div class="input_div">
            <div>Email:</div>
            <input type="email" name="email" placeholder="邮箱"
                   class="email_input" required></div>
        <div class="input_div">
            <div>Link:</div>
            <input type="text" name="link" placeholder="个人链接"
                   class="link_input" pattern="^[a-zA-z]+://[^\s]*$"></div>
        <div class="reply_info">回复：<span>XYF</span></div>
        <div class="text_area">
            <textarea maxlength="60" name="reply_content" required></textarea>
        </div>
        <div class="submit_div"><input type="submit" onsubmit="return false;" value="发表"></div>
    </form>
</div>
<div class="header_content" data-role={$isLogin}>
    <div class="top_nav_content" data-role={$blog.id}>
        <nav class="left_nav">
            <li><a class="to_blog_link" href="home">博客</a></li>
            <li><a class="to_image_link">图片</a></li>
            <li><a class="to_music_link" href="musicHome">音乐</a></li>
            <li><a id="to_my_email" style="font-size: 22px!important;">联系我</a></li>
        </nav>
        <div class="right_nav">
            <div class="background">
                <a class="to_github" href="https://github.com/demoyf/" target="_blank"><img
                        src="img/link/github_icon.jpg" width="100%"></a>
                <a class="to_sina" href="http://weibo.com/2545689252/profile?rightmod=1&wvr=6&mod=personinfo"
                   target="_blank">
                    <img src="img/link/weibo.png" width="100%"></a>
            </div>
        </div>
    </div>
    <div class="show_blog_name">
        <span>XYF的个人主页</span>
    </div>
    <div class="next_title_content" data-role="{$phone}">
        <span class="small_screen_title">xyf</span>
        <span class="active_desc"><span class="shuxian">|</span></span>
        <div class="menu_sign_div">
            <span class="menu">
            <span class="ham">
            </span>
            </span>
            <div class="regsiter_or_sign">
                {if($phone=="404")}
                <a href="toLogin">Sign in</a>,
                <a href="toLogin">Sign up</a>
                {else}
                <a class="user_name_a" href="showManage">{$nickname}</a>
                {/if}
            </div>
        </div>
    </div>
</div>
<div class="blog_detail_content">
    <div class="blog_title">
        <span>{$blog.title}</span>
    </div>
    <div class="blog_content_and_nav">
        <div class="blog_info">
            <div class="a_li">
                <li class="li_title">Date Time</li>
                <li>{$blog.date}</li>
                <li>{$blog.time}</li>
            </div>
            <div class="a_li">
                <li class="li_title">Author</li>
                <li>XYF</li>
            </div>
            <div class="a_li">
                <li class="li_title">Category</li>
                <li>技术博客</li>
            </div>
            <div class="a_li">
                <li class="li_title">TAG</li>
                <div style="display: inline-block">
                    {volist name="$blog.tags" id="tag"}
                    <span>{$tag}</span>
                    {/volist}
                </div>
            </div>
            <div class="a_li">
                <li class="li_title">Comments</li>
                <li>{$blog.comment_length}</li>
            </div>
        </div>
        <div class="blog_content">
            {$blog.content}
        </div>
        <div class="blog_list">
        </div>
    </div>
    <div class="blog_comment_div">
        <div class="comment_div">
            {volist name="$blog.comments" id="comment"}
            <div class="blog_comment_time_content">
                <div class="comment_time">
                    <span>{$comment.comment_time}</span>
                </div>
                <div class="comment_content" data-role={$comment.id}>
                    <div class="a_comment root_comment">
                        <div>
                            <img src="img/page_icon.png" width="60px">
                        </div>
                        <div class="comment_detail" data-role={$comment.user_id}>
                            <div class="who_reply">
                                {if($comment.youke.link=="")}
                                <a>{$comment.youke.nickname}</a>
                                {else}
                                <a href={$comment.youke.link}>{$comment.youke.nickname}</a> 留言：
                                {/if}
                            </div>
                            <div class="replay_content">
                                <p>{$comment.comment_content}</p>
                            </div>
                        </div>
                        <button class="reply_button">回复</button>
                        <button class="delete_button">删除</button>
                    </div>
                    {volist name="$comment.replys" id="reply"}
                    <div class="a_comment" data-role={$reply.id}>
                        <div><img src="img/page_icon.png" width="60px"></div>
                        <div class="comment_detail" data-role={$reply.user_id}>
                            <div class="who_reply">
                                {if($reply.who.link=="")}
                                <a>{$reply.who.nickname}</a>
                                {else}
                                <a href={$reply.who.link}>{$reply.who.nickname}</a>
                                {/if}
                                回复：
                                {if($reply.reply_to.link=="")}
                                <a>{$reply.reply_to.nickname}</a>
                                {else}
                                <a href={$reply.reply_to.link}>{$reply.reply_to.nickname}</a>
                                {/if}
                            </div>
                            <div class="reply_time">
                                {$reply.reply_time}
                            </div>
                            <div class="replay_content">
                                <p>{$reply.reply_content}</p>
                            </div>
                        </div>
                        <button class="reply_button">回复</button>
                        <button class="delete_button">删除</button>
                    </div>
                    {/volist}
                </div>
            </div>
            {/volist}
            <div class="blog_comment_time_content">
                <div class="comment_time">
                </div>
                <div class="comment_content">
                    <button class="publish_comment">发表评论</button>
                </div>
            </div>
        </div>
        <div class="lastest_comment_and_blog">
            <div style="font-size: 25px;text-align: center;color: #00b19e">最新评论</div>
            {volist name="$blog.lastests" id="lastest"}
            <div class="a_lastest_comment">
                {if($lastest.youke.link=="")}
                <a>{$lastest.youke.nickname}</a>
                {else}
                <a href={$lastest.youke.link}>{$lastest.youke.nickname}</a>
                {/if}发表于《
                <a href='showBlogDetail?blog_id={$lastest.blog_id}'>{$lastest.blog_title}</a>
                》
            </div>
            {/volist}
        </div>
    </div>
</div>
<div class="small_left_nav">
    <li class="to_li">To</li>
    <li><span>博客</span></li>
    <li><span>图片</span></li>
    <li><a href="musicHome">音乐</a></li>
    <li><span class="to_my_email" style="font-size: 20px!important;">联系我</span></li>
    <li class="to_sign_in">Sign in,up</li>
    {if($phone=="404")}
    <li><a href="toLogin">Sign in</a></li>
    <li><a href="toLogin">Sign up</a></li>
    {else}
    <li class="user_name_small_left"><a href="showManage">{$nickname}</a></li>
    {/if}
    <li class="about_li">About</li>
    <li class="github_li">
        <a class="to_github" href="https://github.com/demoyf/" target="_blank"><img
                src="img/link/github_icon.jpg" width="100%"></a>
    </li>
    <li class="sina_li">
        <a class="to_sina" href="http://weib.com/2545689252/profile?rightmod=1&wvr=6&mod=personinfo"
           target="_blank">
            <img src="img/link/weibo.png" width="100%"></a>
    </li>
</div>
</body>
</html>
