<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/music/showMusicPage.css">
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/layer.js"></script>
    <script>
        $(function () {
//            上传音乐文件的代码
            $('.one_publish_content .choose_music_div .choose_music_input').change(function () {
                var name = $(this)[0].files[0].name;
                $('.one_publish_content .show_which_muisc').html(name);
            });
            $('.publish_muisc_button').on("click",function () {
                var aldum_id = $('.publish_music_content .one_publish_content .my_aldum_select').val();
               var formData = new FormData();
                var file = $('.one_publish_content .choose_music_div .choose_music_input')[0].files[0];
                if (file==null) {
                    layer.tips('请选择背景图片', $('.one_publish_content .show_which_muisc'));
                    return false;
                }
                formData.append("music",file);
                formData.append("aldum_id", aldum_id);
                $.ajax({
                    url: "index/Music/uploadMusic",
                    type: "post",
                    data: formData,
                    processData: false,
                    contentType: false,
                    dataType:"json",
                    success: function (data) {
                        if (data.code==200) {
                            layer.msg('发表成功');
                            setTimeout(function () {
                                window.location.href="showMusicPage";
                            }, 1000);
                        }else {
                            layer.msg('发表失败',{icon:5});
                        }
                    },
                    error:function () {
                        layer.msg('发表失败',{icon:5});
                    }
                });
            });
        });
    </script>
</head>
<body>
<div class="publish_music_content">
    <div class="one_publish_content">
        <span class="content_first">选择歌曲：</span>
        <div class="choose_music_div">
            <span class="choose_music_span">点击上传歌曲</span>
            <input type="file" class="choose_music_input">
        </div>
        <span class="show_which_muisc"></span>
    </div>
    <div class="one_publish_content">
        <span class="content_first">所在歌单：</span>
        <select class="my_aldum_select">
            {volist name="aldums" id="aldum" key="i"}
            {if($i==1)}
            <option value={$aldum.id} selected>{$aldum.title}</option>
            {else}
            <option value={$aldum.id}>{$aldum.title}</option>
            {/if}
            {/volist}
        </select>
    </div>
    <div class="one_publish_content">
       <button class="publish_muisc_button">发表</button>
   </div>
</div>
</body>
</html>