<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>时间轴</title>
    <!--justify-content: 水平位置的摆放方式。align-items：垂直方向的摆放方式
    flex 和position：absolute 同时使用，子元素的flex无效。flex可以嵌套使用
    vw:viewport 百分比，1vw = 1%屏幕宽度，响应式字体
    transaction：指定变换的属性和时间，平移或者旋转等需要指定的是transform。
    注意需要在最外层选择一个容器充当‘舞台’，perspective属性。如果只是想显示占据容器大小的内容，
    需要指定overflow为hidden。
    -->
    <script src="js/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="css/time_line_blog/large_screen.css">
    <link rel="stylesheet" href="css/time_line_blog/small_screen.css">
    <link rel="stylesheet" href="css/time_line_blog/effect_details.css">
    <link rel="stylesheet" href="css/time_line_blog/show_timeline_other.css">
    <link rel="stylesheet" href="css/home/header_model.css">
    <link rel="icon" href="img/page_icon.png">
    <script src="js/layer.js"></script>
    <script src="js/time_line/animate_time_line.js"></script>
    <script src="js/time_line/header.js"></script>
    <script>
        $(function () {
            $('.header_content .top_nav_content .left_nav #to_my_email,.small_left_nav .to_my_email').on("click", function () {
                var emial_layer =  layer.open({
                    type: 1,
                    skin: 'layui-layer-demo', //样式类名//不显示关闭按钮
                    anim: 2,
                    title: "我的邮箱",
                    shadeClose: true, //开启遮罩关闭
                    content: $('.my_email_info')
                });
                $('.copy_email_button').on("click", function () {
                    var info = document.getElementById("copy_info");
                    info.select();
                    document.execCommand("Copy");
                    layer.close(emial_layer);
                });
            });
        });
    </script>
    <style>
        .my_email_info {
            display: flex;
            flex-direction: column;
            width: 320px;
            background-color: white;
        }
        .my_email_info .my_email_title {
            display: flex;
            flex-direction: row;
            padding: 10px;
            height: 3em;
        }
        #copy_info {
            resize: none;
            background-color: transparent;
            border: none;
            font-size: 20px;
            font-family: cursive;
            color: #494949;
        }
        .my_email_info .copy_email_button {
            width: 40%;
            margin-top: 20px;
            margin-left: 30%;
            margin-bottom: 20px;
            background-color: #00b19e;
            color: rgba(255, 255, 255, 0.8);
            padding: 6px;
            border: none;
            border-radius: 5px;
        }
        .my_email_info .copy_email_button:hover {
            cursor: pointer;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
        }
    </style>
</head>
<body>
<div class="my_email_info" style="display: none">
    <div class="my_email_title">
        <img src="img/emial.jpg" height="30px">
        <textarea id="copy_info" maxlength="16">425746853@qq.com</textarea>
    </div>
    <button class="copy_email_button">复制到剪切板</button>
</div>
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
        </div>
    </div>
</div>

<div class="header_content" style="display: none;" data-role={$phone}>
    <div class="top_nav_content">
        <nav class="left_nav">
            <li><a class="to_blog_link" href="home">博客</a></li>
            <li><a class="to_image_link">图片</a></li>
            <li><a class="to_music_link">音乐</a></li>
            <li><a id="to_my_email" style="font-size: 22px!important;">联系我</a></li>
        </nav>
        <div class="right_nav">
            <div class="background">
                <a class="to_github" href="https://github.com/demoyf/" target="_blank"><img
                        src="img/link/github_icon.jpg" width="100%"></a>
                <a class="to_sina" href="http://weibo.com/2545689252/profile?rightmod=1&wvr=6&mod=personinfo"
                   target="_blank">
                    <img src="img/link/weibo.png" width="100%"></a>
            </div>
        </div>
    </div>
    <div class="show_blog_name">
        <span>XYF的个人主页</span>
    </div>
    <div class="next_title_content">
        <span class="small_screen_title">xyf</span>
        <span class="active_desc"><span class="shuxian">|</span></span>
        <div class="menu_sign_div">
            <span class="menu">
            <span class="ham">
            </span>
            </span>
            <div class="regsiter_or_sign">
                {if($phone=="404")}
                <a href="toLogin">Sign in</a>,
                <a href="toLogin">Sign up</a>
                {else}
                <a class="user_name_a" href="showManage">{$nickname}</a>
                {/if}
            </div>
        </div>
    </div>
    <div class="to_time_line_blog">
        <li><a href="home" >博客</a></li>
        <li><a href="showTimeLine" class="current">时间轴</a></li>
    </div>
    <!--数据最好先在PHP那里处理完毕再传递过来，还想直接在这里处理，结果GG了，没有代码提示。-->
    <div class="timeline_content" id={$total} data-role={$per_page}>
        {volist name="blogs" id="blog" key="i"}
        <div style="display: none">
            {$effect = ("effect_".($i%4+1));$src = "img/blog_background/".($blog.background_id).".jpg"}
        </div>
        {if($i%2==0)}
        <div class="left_blog" data-role ={$blog.id}>
            <div class="content">
                <figure class={$effect}>
                    <img src= {$src} />
                    <figcaption>
                        <h2>{$blog.title}</h2>
                        <p>{$blog.description}</p>
                    </figcaption>
                </figure>
            </div>
            <div class="arrow-left">
            </div>
            <div class="time_content" data-role="left">
                <div class="time" data-role= {$blog.detail_time}>
                    <span>{$blog.day}<sup>{$blog.sup}</sup></span>
                    <span>{$blog.month}</span>
                    <span>{$blog.year}</span>
                </div>
                <div class="line">
                </div>
            </div>
        </div>
        {else}
        <div class="right_blog" data-role={$blog.id}>
            <div class="content">
                <figure class={$effect}>
                    <img src= {$src} />
                    <figcaption>
                        <h2>{$blog.title}</h2>
                        <p>{$blog.description}</p>
                    </figcaption>
                </figure>
            </div>
            <div class="arrow-right">
            </div>
            <div class="time_content" data-role="right">
                <div class="time" data-role={$blog.detail_time}>
                    <span>{$blog.day}<sup>{$blog.sup}</sup></span>
                    <span>{$blog.month}</span>
                    <span>{$blog.year}</span>
                </div>
                <div class="line">
                </div>
            </div>
        </div>
        {/if}
        {/volist}
    </div>
    <div class="my_pagination">
        <div class="left_turn"><span>&lt;</span></div>
        <div class="pagination_page">
            <div class="current"><span>1</span></div>
            <div><span>2</span></div>
            <div><span>3</span></div>
            <div><span>4</span></div>
        </div>
        <div class="right_turn"><span>&gt;</span></div>
    </div>
</div>
<div class="to_top">
    <svg width="70" height="70" viewBox="0,0,70,70">
        <path d="M 15,32 L 30,12 L 45,32 M 30,14 L 30,52"
              stroke-linecap="round" stroke-width="5px" stroke="skyblue" fill="none"/>
    </svg>
</div>
<div class="small_left_nav">
    <li class="to_li">To</li>
    <li><span>博客</span></li>
    <li><span>图片</span></li>
    <li><span>音乐</span></li>
    <li><span class="to_my_email" style="font-size: 20px!important;">联系我</span></li>
    {if($phone=="404")}
    <li class="to_sign_in">Sign in,up</li>
    <li><a href="toLogin">Sign in</a></li>
    <li><a href="toLogin">Sign up</a></li>
    {else}
    <li class="to_sign_in">Personal</li>
    <li class="user_name_small_left"><a href="showManage">{$nickname}</a></li>
    {/if}
    <li class="about_li">About</li>
    <li class="github_li">
        <a class="to_github" href="https://github.com/demoyf/" target="_blank"><img
                src="img/link/github_icon.jpg" width="100%"></a>
    </li>
    <li class="sina_li">
        <a class="to_sina" href="http://weibo.com/2545689252/profile?rightmod=1&wvr=6&mod=personinfo"
           target="_blank">
            <img src="img/link/weibo.png" width="100%"></a>
    </li>
</div>
</body>
</html>