<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Title</title>
    <!--justify-content: 水平位置的摆放方式。align-items：垂直方向的摆放方式
    flex 和position：absolute 同时使用，子元素的flex无效。flex可以嵌套使用
    vw:viewport 百分比，1vw = 1%屏幕宽度，响应式字体
    transaction：指定变换的属性和时间，平移或者旋转等需要指定的是transform。
    注意需要在最外层选择一个容器充当‘舞台’，perspective属性。如果只是想显示占据容器大小的内容，
    需要指定overflow为hidden。
    -->
    <script src="js/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="css/time_line_blog/large_screen.css">
    <link rel="stylesheet" href="css/time_line_blog/small_screen.css">
    <link rel="stylesheet" href="css/time_line_blog/effect_details.css">
    <link rel="stylesheet" href="css/time_line_blog/show_timeline_other.css">
    <script src="js/layer.js"></script>
    <script src="js/time_line/animate_time_line.js"></script>
</head>
<body>
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
        </div>
    </div>
</div>
<!--数据最好先在PHP那里处理完毕再传递过来，还想直接在这里处理，结果GG了，没有代码提示。-->
<div class="timeline_content" style="display: none;" id={$total} data-role={$per_page}>
    {volist name="blogs" id="blog" key="i"}
    <div style="display: none">
        {$effect = ("effect_".($i%4+1));$src = "img/blog_background/".($blog.background_id).".jpg"}
    </div>
    {if($i%2==0)}
    <div class="left_blog" data-role ={$blog.id}>
        <div class="content">
            <figure class={$effect}>
                <img src= {$src} />
                <figcaption>
                    <h2>{$blog.title}</h2>
                    <p>{$blog.description}</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-left">
        </div>
        <div class="time_content" data-role="left">
            <div class="time" data-role= {$blog.detail_time}>
                <span>{$blog.day}<sup>{$blog.sup}</sup></span>
                <span>{$blog.month}</span>
                <span>{$blog.year}</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    {else}
    <div class="right_blog" data-role={$blog.id}>
        <div class="content">
            <figure class={$effect}>
                <img src= {$src} />
                <figcaption>
                    <h2>{$blog.title}</h2>
                    <p>{$blog.description}</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-right">
        </div>
        <div class="time_content" data-role="right">
            <div class="time" data-role={$blog.detail_time}>
                <span>{$blog.day}<sup>{$blog.sup}</sup></span>
                <span>{$blog.month}</span>
                <span>{$blog.year}</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    {/if}
    {/volist}
    <!--<div class="left_blog">
        <div class="content">
            <figure class="effect_1">
                <img src="img/blog_background/1.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-left">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="right_blog">
        <div class="content">
            <figure class="effect_2">
                <img src="img/blog_background/12.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-right">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="left_blog">
        <div class="content">
            <figure class="effect_3">
                <img src="img/blog_background/2.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-left">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="right_blog">
        <div class="content">
            <figure class="effect_4">
                <img src="img/blog_background/3.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-right">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="left_blog">
        <div class="content">
            <figure class="effect_1">
                <img src="img/blog_background/4.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-left">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="right_blog">
        <div class="content">
            <figure class="effect_2">
                <img src="img/blog_background/5.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-right">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="left_blog">
        <div class="content">
            <figure class="effect_3">
                <img src="img/blog_background/6.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-left">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="right_blog">
        <div class="content">
            <figure class="effect_4">
                <img src="img/blog_background/7.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-right">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="left_blog">
        <div class="content">
            <figure class="effect_3">
                <img src="img/blog_background/8.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-left">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="right_blog">
        <div class="content">
            <figure class="effect_2">
                <img src="img/blog_background/9.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-right">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="left_blog">
        <div class="content">
            <figure class="effect_1">
                <img src="img/blog_background/10.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-left">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="right_blog">
        <div class="content">
            <figure class="effect_2">
                <img src="img/blog_background/11.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-right">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="left_blog">
        <div class="content">
            <figure class="effect_3">
                <img src="img/blog_background/12.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-left">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="right_blog">
        <div class="content">
            <figure class="effect_4">
                <img src="img/blog_background/13.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-right">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="left_blog">
        <div class="content">
            <figure class="effect_1">
                <img src="img/blog_background/14.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-left">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class="right_blog">
        <div class="content">
            <figure class="effect_3">
                <img src="img/blog_background/15.jpg">
                <figcaption>
                    <h2>这是一篇博客</h2>
                    <p>这是博客的详细描述，哈哈哈哈哈，要看清楚这个描述说，才能点击，
                        好的，哈哈哈电视卡好的开始的撒环保健康喝多少啊</p>
                </figcaption>
            </figure>
        </div>
        <div class="arrow-right">
        </div>
        <div class="time_content">
            <div class="time">
                <span>12<sup>TH</sup></span>
                <span>APR</span>
                <span>2017</span>
            </div>
            <div class="line">
            </div>
        </div>
    </div>-->
</div>
<div class="my_pagination">
    <div class="left_turn"><span>&lt;</span></div>
    <div class="pagination_page">
        <div class="current"><span>1</span></div>
        <div><span>2</span></div>
        <div><span>3</span></div>
        <div><span>4</span></div>
    </div>
    <div class="right_turn"><span>&gt;</span></div>
</div>
<div class="to_top">
    <svg width="70" height="70" viewBox="0,0,70,70">
        <path d="M 15,32 L 30,12 L 45,32 M 30,14 L 30,52"
              stroke-linecap="round" stroke-width="5px" stroke="skyblue" fill="none"/>
    </svg>
</div>
</body>
</html>