<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="index/Info/updateInfo" method="post">
        手机号码：<input name="phone" type="text"><br/>
        昵称：<input name="nickname" type="text"><br/>
        地址：<input name="address" type="text"><br/>
        邮箱：<input name="email" type="text"><br/>
        生日：<input name="birthday" type="text"><br/>
        个性签名：<input name="sign" type="text"><br/>
        <input type="submit" value="subimit">
    </form>
</body>
</html>