body {
    color: rgba(12, 6, 6, 0.4);
    background-color: #bbbbbb;
}

input.showUpload {
    width: 35px;
    height: 40px;
    opacity: 0;
    top: 7px;
}

input.showUpload:hover {
    cursor: pointer;
}

div.choose_image_icon {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("../../img/choose_image.jpg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    height: 16px;
    display: block;
}

div.choose_image_icon:hover {
    background-color: rgba(255, 255, 255, 0.15);;
    box-shadow: 0 0 12px #5ba1cf;
}
.editer {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
div#editer_chooser {
    line-height: 2.5em;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.btn_group {
    margin-top: 1%;
    margin-bottom: 20px;
    margin-right: 2%;
    width: auto;
    height: auto;
    border-radius: 4px;
    background-color: white;
}

a.btn {
    border-radius: 8px;
    text-decoration: none;
    padding: 15px;
    color: black;
}

a.btn:hover {
    background-color: rgba(255, 255, 255, 0.15);;
    box-shadow: 0 0 12px #5ba1cf;
}

#editer_content {
    max-height: 500px;
    min-height: 300px;
    resize: vertical;
    width: 91%;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
    border-width: 1px;
    border-color: silver;
    overflow: auto;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px;
}

.showChooseSize {
    position: absolute;
    background-color: white;
    border: 2px solid;
    border-color: #9ccff4;
    display: none;
    text-decoration: none;
    list-style: none;
    padding-left: 5px;
    width: 60px;
    height: 150px;
    left: 25%;
    top: 145px;
    height: 0px;
}

.showChooseSize li a {
    text-decoration: none;
    color: black;
}

.showChooseColor {
    position: absolute;
    background-color: white;
    border: 2px solid;
    border-color: #9ccff4;
    text-decoration: none;
    list-style: none;
    padding-left: 5px;
    width: 180px;
    height: 0px;
    display: none;
    left: 23%;
    top: 145px;
}

.showChooseColor table {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: -2px;
    font-size: 21px;
}

.showChooseColor tr {
    width: 100%;
    height: 34%;
}

.showChooseColor a {
    width: 100%;
    height: 100%;
}

span.fenge {
    height: 100%;
    border: 1px solid silver;
    margin: 2px;
}

span.icon_undo {
    background-image: url("../../img/undo.jpg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

span.icon_redo {
    background-image: url("../../img/redo.jpg");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

span.justify_left {
    background-image: url("../../img/left.jpg");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

span.justify_right {
    background-image: url("../../img/right.jpg");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

span.justify_center {
    background-image: url("../../img/center.jpg");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

span.choose_font_size {
    background-image: url("../../img/font_size.png");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

span.choose_font_color {
    background-image: url("../../img/font_color.jpg");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

span.icon_list_ol {
    background-image: url("../../img/list_ol_icon.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

span.icon_list_ul {
    background-image: url("../../img/list_ul_icon.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    margin: 0.3em;
}
body {
    background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 177, 169, 0.3) 100%);
}
.enter_info_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15%;
    box-sizing: border-box;
}
.enter_info_div .one_enter_content {
    display: flex;
    flex-direction: row;
    font-family: cursive, "FangSong";
    margin-bottom: 10px;
}
.enter_info_div .one_enter_content span {
    margin-top: 10px;
    font-size: 20px;
    color: #494949;
}

.enter_info_div .one_enter_content input {
    width: 275px;
    border-radius: 10px;
    padding: 6px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid slateblue;
    margin: 10px 0;
    color: #494949;
}

.enter_info_div .one_enter_content .blog_description_input {
    height: 110px;
    width: 275px;
    resize: none;
    box-sizing: border-box;
    font-size: 16px;
    color: #494949;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid slateblue;
}

.enter_info_div .one_enter_content span.small_span {
    font-size: 14px;
    margin-top: 85px;
    flex-shrink: 0;
}

.enter_info_div .one_enter_content span.first_small_span {
    margin-left: 10px;
    flex-shrink: 0;
}

.enter_info_div .one_enter_content .input_small_span {
    margin-top: 18px;
    font-size: 14px;
    flex-shrink: 0;
}

.enter_info_div .one_enter_content span.input_first_small_span {
    margin-left: 10px;
    flex-shrink: 0;
}

.one_enter_content .choose_background_button {
    background-color: rgba(0, 177, 169, 0.6);
    margin-left: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
}

.one_enter_content .choose_tag_button {
    background-color: rgba(0, 177, 169, 0.6);
    margin-left: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
}

.submit_button_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit_button_div .submit_button {
    background-color: #00b19e;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 4px 10px;
}

.submit_button_div .submit_button:hover, .one_enter_content .choose_tag_button:hover,
.one_enter_content .choose_background_button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    z-index: 300;
}

.background_img_div {
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.background_img_div img {
    margin: 2px;
    box-sizing: border-box;
}

.blog_tag_div {
    display: flex;
    width: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.blog_tag_div span {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.blog_tag_div span:hover {
    cursor: pointer;
}

.blog_tag_div span.has_click {
    background-color: #00b19e;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid transparent;
}

.blog_tag_div .add_tag_and_cancel {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.blog_tag_div .add_tag_and_cancel .cancel_choose_tag_button {
    padding: 5px 8px;
    border: none;
    font-size: 16px;
    color: white;
    background-color: #00b19e;
    margin: 10px;
    border-radius: 5px;
}

.blog_tag_div .add_tag_and_cancel .cancel_choose_tag_button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.blog_tag_div .add_tag_and_cancel .add_tag_div .add_tag_button {
    padding: 5px;
    border: none;
    font-size: 16px;
    color: white;
    background-color: #00b19e;
    margin: 10px auto;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 5px;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -ms-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transition: all ease 0.8s;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.blog_tag_div .add_tag_and_cancel .add_tag_div .add_tag_button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.blog_tag_div .add_tag_and_cancel .add_tag_div .tag_content {
    padding: 3px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid slateblue;
    border-radius: 5px;
    display: none;
    width: 0px;
}