body {
    color: rgba(12, 6, 6, 0.4);
    background-color: #bbbbbb;
}

input.showUpload {
    width: 35px;
    height: 40px;
    opacity: 0;
    top: 7px;
}

input.showUpload:hover {
    cursor: pointer;
}

div.choose_image_icon {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("../../img/choose_image.jpg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    height: 16px;
    display: block;
}

div.choose_image_icon:hover {
    background-color: rgba(255, 255, 255, 0.15);;
    box-shadow: 0 0 12px #5ba1cf;
}
.editer {
    width: 60%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}
div#editer_chooser {
    line-height: 2.5em;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.btn_group {
    margin-top: 1%;
    margin-bottom: 20px;
    margin-right: 2%;
    width: auto;
    height: auto;
    border-radius: 4px;
    background-color: white;
}

a.btn {
    border-radius: 8px;
    text-decoration: none;
    padding: 15px;
    color: black;
}

a.btn:hover {
    background-color: rgba(255, 255, 255, 0.15);;
    box-shadow: 0 0 12px #5ba1cf;
}

#editer_content {
    max-height: 500px;
    min-height: 300px;
    resize: vertical;
    width: 91%;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
    border-width: 1px;
    border-color: silver;
    overflow: auto;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px;
}

.showChooseSize {
    position: absolute;
    background-color: white;
    border: 2px solid;
    border-color: #9ccff4;
    height: 0px;
    display: none;
    text-decoration: none;
    list-style: none;
    padding-left: 5px;
    width: 60px;
    left: 25%;
    top: 145px;
}

.showChooseSize li a {
    text-decoration: none;
    color: black;
}

.showChooseColor {
    position: absolute;
    background-color: white;
    border: 2px solid;
    border-color: #9ccff4;
    text-decoration: none;
    list-style: none;
    padding-left: 5px;
    width: 180px;
    display: none;
    left: 23%;
    top: 145px;
}

.showChooseColor table {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: -2px;
    font-size: 21px;
}

.showChooseColor tr {
    width: 100%;
    height: 34%;
}

.showChooseColor a {
    width: 100%;
    height: 100%;
}

span.fenge {
    height: 100%;
    border: 1px solid silver;
    margin: 2px;
}

span.icon_undo {
    background-image: url("../../img/undo.jpg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

span.icon_redo {
    background-image: url("../../img/redo.jpg");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

span.justify_left {
    background-image: url("../../img/left.jpg");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

span.justify_right {
    background-image: url("../../img/right.jpg");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

span.justify_center {
    background-image: url("../../img/center.jpg");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

span.choose_font_size {
    background-image: url("../../img/font_size.png");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

span.choose_font_color {
    background-image: url("../../img/font_color.jpg");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

span.icon_list_ol {
    background-image: url("../../img/list_ol_icon.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

span.icon_list_ul {
    background-image: url("../../img/list_ul_icon.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    text-indent: 0.5em;
}