<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>我的博客</title>
    <script src="js/jquery-1.12.4.js"></script>
    <!--<script src="header_model.js"></script>-->
    <script src="js/layer.js"></script>
    <script src="js/home/home.js"></script>
    <link href="css/home/header_model.css" rel="stylesheet">
    <link href="css/home/home_other.css" rel="stylesheet">
    <link rel="icon" href="img/page_icon.png">
</head>
<body>
<div class="header_content">
    <div class="top_nav_content">
        <nav class="left_nav">
            <li><span class="to_blog_link">博客</span></li>
            <li><span class="to_image_link">图片</span></li>
            <li><span class="to_music_link">音乐</span></li>
            <li><span class="to_collection_link">收藏</span></li>
        </nav>
        <div class="right_nav">
            <div class="background">
                <a class="to_github" href="https://github.com/demoyf/" target="_blank"><img
                        src="img/link/github_icon.jpg" width="100%"></a>
                <a class="to_sina" href="http://weibo.com/2545689252/profile?rightmod=1&wvr=6&mod=personinfo"
                   target="_blank">
                    <img src="img/link/weibo.png" width="100%"></a>
            </div>
        </div>
    </div>
    <div class="show_blog_name">
        <span>XYF的个人主页</span>
    </div>
    <div class="next_title_content">
        <span class="small_screen_title">xyf</span>
        <span class="active_desc"><span class="shuxian">|</span></span>
        <div class="menu_sign_div">
            <span class="menu">
            <span class="ham">
            </span>
            </span>
            <div class="regsiter_or_sign">
                <a href="toLogin">Sign in</a>,
                <a href="toLogin">Sign up</a>
            </div>
        </div>
    </div>
    <div class="to_time_line_blog">
        <li><a href="home" class="current">博客</a></li>
        <li><a href="showTimeLine">时间轴</a></li>
    </div>
    <div class="blog_content" id={$total} data-role={$per_page}>
        {volist name="blogs" id="blog"}
        <div style="display: none">
            {$src = "img/blog_background/".($blog.background_id).".jpg"}
        </div>
        <div class="a_blog" data-role={$blog.id}>
            <div class="blog_background">
                <img src={$src} width="100%">
                <p>{$blog.description}</p>
            </div>
            <div class="blog_title_div">
                <h2 class="blog_title">{$blog.title}</h2>
                <h5 class="blog_time">{$blog.my_time}</h5>
            </div>
        </div>
        {/volist}
        </div>
    </div>
    <div class="pagination_div">
        <li class="to_prev">Prev</li>
        <div class="number_li_div">
            <li class="current">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </div>
        <li class="to_next">Next</li>
    </div>
</div>
<div class="tag_nav">
    <div class="left_menu_icon">
    </div>
    <div class="tag_content">
        <a class="all">All</a>
        {volist name="tags" id = "tag"}
        <a data-role={$tag.id}>{$tag.tag}</a>
        {/volist}
    </div>
</div><div class="small_left_nav">
    <li class="to_li">To</li>
    <li><span>博客</span></li>
    <li><span>图片</span></li>
    <li><span>音乐</span></li>
    <li><span>收藏</span></li>
    <li class="to_sign_in">Sign in,up</li>
    <li><a href="toLogin">Sign in</a></li>
    <li><a href="toLogin">Sign up</a></li>
    <li class="about_li">About</li>
    <li class="github_li">
        <a class="to_github" href="https://github.com/demoyf/" target="_blank"><img
                src="img/link/github_icon.jpg" width="100%"></a>
    </li>
    <li class="sina_li">
        <a class="to_sina" href="http://weibo.com/2545689252/profile?rightmod=1&wvr=6&mod=personinfo"
           target="_blank">
            <img src="img/link/weibo.png" width="100%"></a>
    </li>
</div>

</body>
</html>